<div class="container">
    <div class="row">
        <h4 class="text-center">Employee CRUD using HTTPClient</h4>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <button class="btn btn-primary" (click)="fetchEmployees()">Fetch Data</button>
            <hr />

            @if(isLoading){
            <div class="spinner-border" role="status">
                <span class="visually-hidden"></span>
            </div>
            }@else{
            <!-- <table class="table table-bordered table-striped mt-2">
                <tbody>
                    @for(emp of employees;track $index;){
                    <tr>
                        <td>{{emp.id}}</td>
                        <td>{{emp.firstName}}</td>
                        <td>{{emp.lastName}}</td>
                        <td>{{emp.email}}</td>
                        <td>{{emp.gender}}</td>
                        <td>{{emp.sal}}</td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteEmployee(emp.id)">Delete</button>
                            <button class="btn btn-primary mx-1" (click)="editEmployee(emp)">Edit</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table> -->
            }
        </div>
        <div class="col-sm-4 border p-2">
            <p class="text-center">{{isAdd ? 'Add' : 'Edit'}} Employee</p>
            <p>
                firstName:
                <input #firstName />
            </p>
            <p>
                lastName:
                <input #lastName />
            </p>
            <p>
                email:
                <input #email>
            </p>
            <p>
                gender:
                <input #gender />
            </p>
            <p>
                Salary:
                <input #sal>
            </p>
            <p>
                <button (click)="addNewEmp(firstName.value,lastName.value,email.value,
                gender.value,sal.value)">Add Employee</button>
                <button (click)="SaveEditedEmployee(firstName.value,lastName.value,email.value,
                gender.value,sal.value)">Save Employee</button>
            </p>
        </div>
    </div>
</div>