<footer class="footer bg-dark text-white py-5">
    <div class="container">
      <div class="row">
        <!-- Column 1: About -->
        <div class="col-md-3">
          <h5>About Nike</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white text-decoration-none">News</a></li>
            <li><a href="#" class="text-white text-decoration-none">Careers</a></li>
            <li><a href="#" class="text-white text-decoration-none">Investors</a></li>
            <li><a href="#" class="text-white text-decoration-none">Sustainability</a></li>
          </ul>
        </div>
  
        <!-- Column 2: Help -->
        <div class="col-md-3">
          <h5>Help</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white text-decoration-none">Order Status</a></li>
            <li><a href="#" class="text-white text-decoration-none">Shipping & Delivery</a></li>
            <li><a href="#" class="text-white text-decoration-none">Returns</a></li>
            <li><a href="#" class="text-white text-decoration-none">Contact Us</a></li>
          </ul>
        </div>
  
        <!-- Column 3: Social Media -->
        <div class="col-md-3">
          <h5>Follow Us</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white text-decoration-none"><i class="fab fa-facebook"></i> Facebook</a></li>
            <li><a href="#" class="text-white text-decoration-none"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a href="#" class="text-white text-decoration-none"><i class="fab fa-instagram"></i> Instagram</a></li>
            <li><a href="#" class="text-white text-decoration-none"><i class="fab fa-youtube"></i> YouTube</a></li>
          </ul>
        </div>
  
        <!-- Column 4: Newsletter -->
        <div class="col-md-3">
          <h5>Newsletter</h5>
          <p>Subscribe to our newsletter for the latest updates.</p>
          <form>
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Enter your email">
              <button class="btn btn-primary" type="submit">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
  
      <!-- Copyright -->
      <div class="row mt-4">
        <div class="col text-center">
          <p class="mb-0">&copy; 2023 Nike, Inc. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>