<h2 class="text-center">User Details</h2>

<div class="row">
    <div class="col-sm-4 offset-4">
        <div class="card text-center">
            <img class="card-img-top" 
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjI5Cdcq6ocwEbSR5jvM_aUeckl8VBQMUnL6vWu83kmWKaodh9scTAitMD6sC7vv77n_E&usqp=CAU"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{user.username}}</h5>
                <p class="card-text">{{user.id}}</p>
                <p class="card-text">{{user.name}}</p>
                <p class="card-text">{{user.email}}</p>
                <p class="card-text">{{user.phone}}</p>
                <p class="card-text">{{user.address.city}}</p>
            </div>
        </div>
    </div>
</div>