<div class="container text-center mt-4">
  <div class="row justify-content-center">
    
    <!-- Topics -->
    <div class="col-md-2 col-sm-4 col-6">
      <a href="https://www.india.gov.in/topics" class="category-link">
        <div class="category-icon">
          <i class="fas fa-comment-alt"></i>
        </div>
        <p>TOPICS</p>
      </a>
    </div>

    <!-- Services -->
    <div class="col-md-2 col-sm-4 col-6">
      <a href="https://services.india.gov.in" class="category-link">
        <div class="category-icon">
          <i class="fas fa-cogs"></i>
        </div>
        <p>SERVICES</p>
      </a>
    </div>

    <!-- My Government -->
    <div class="col-md-2 col-sm-4 col-6">
      <a href="https://www.mygov.in" class="category-link">
        <div class="category-icon">
          <i class="fas fa-landmark"></i>
        </div>
        <p>MY GOVERNMENT</p>
      </a>
    </div>

    <!-- People Groups -->
    <div class="col-md-2 col-sm-4 col-6">
      <a href="https://www.india.gov.in/people-groups" class="category-link">
        <div class="category-icon">
          <i class="fas fa-users"></i>
        </div>
        <p>PEOPLE GROUPS</p>
      </a>
    </div>

    <!-- India at a Glance -->
    <div class="col-md-2 col-sm-4 col-6">
      <a href="https://www.india.gov.in/india-glance" class="category-link">
        <div class="category-icon">
          <i class="fas fa-globe"></i>
        </div>
        <p>INDIA AT A GLANCE</p>
      </a>
    </div>

  </div>
</div>
