<div class="main-body p-2">
    <!-- <app-databinding></app-databinding> -->
    <!-- <app-directives></app-directives> -->
    <!-- <app-users></app-users> -->
    <!-- <app-employee-list></app-employee-list> -->
    <!-- <app-my-modal>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Data-1</td>
                    <td>Data-2</td>
                    <td>Data-3</td>
                    <td>Data-4</td>
                </tr>
                <tr>
                    <td>Data-1</td>
                    <td>Data-2</td>
                    <td>Data-3</td>
                    <td>Data-4</td>
                </tr>
                <tr>
                    <td>Data-1</td>
                    <td>Data-2</td>
                    <td>Data-3</td>
                    <td>Data-4</td>
                </tr>
                <tr>
                    <td>Data-1</td>
                    <td>Data-2</td>
                    <td>Data-3</td>
                    <td>Data-4</td>
                </tr>
                <tr>
                    <td>Data-1</td>
                    <td>Data-2</td>
                    <td>Data-3</td>
                    <td>Data-4</td>
                </tr>
            </tbody>
        </table>
    </app-my-modal> -->
    <!--  <app-my-modal>
        <h2 id="modaltitle">Login Form</h2>
        <form action="/action_page.php">
            <div class="mb-3 mt-3">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="mb-3">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
            </div>
            <div class="form-check mb-3">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="remember"> Remember me
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </app-my-modal> -->
    <!-- <app-products></app-products> -->
    <!-- <app-demo1></app-demo1> -->
    <!-- <app-pipes></app-pipes> -->
     <app-parent></app-parent>
</div>