<div class="container">
    <div class="row">
        <h4 class="text-center">ToDos List using HttpClient</h4>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <button class="btn btn-primary" (click)="getToDos()">ToDosList</button>
            <hr />
            @if(isLoading){
            <div class="spinner-border text-success" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            }@else {
            <table class="table table-bordered table-striped mt-2">
                <tbody>
                    @for(todo of todos;track $index){
                    <tr>
                        <td>{{todo.id}}</td>
                        <td>{{todo.todo}}</td>
                        <td>{{todo.completed}}</td>
                        <td>{{todo.userId}}</td>
                        <td>
                            <div class="d-flex gap-2">
                            <button class="btn btn-danger" (click)="deleteToDosList(todo.id)">Delete</button>
                            <button class="btn btn-primary mx-1" (click)="editToDosList(todo)">Edit</button>
                        </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            }
        </div>
        <div class="col-sm-4 border p-2">
            <div>
                <p class="text-center">{{isAdd?'Add':'Edit' }} ToDos List</p>
            </div>
            <form #todoForm="ngForm" (ngSubmit)="isAdd ? AddNewToDosList() : SaveEditedToDosList()">
                <p>
                    Id:
                    <input type="number" [(ngModel)]="todosobj.id" name="id" required>
                </p>
                <p>
                    ToDosList:
                    <input type="text" [(ngModel)]="todosobj.todo" name="todo" required>
                </p>
                <p>
                    isCompleted:
                    <input type="text" [(ngModel)]="todosobj.completed" name="completed" required>
                </p>
                <p>
                    UserId:
                    <input type="number" [(ngModel)]="todosobj.userId" name="userId" required>
                </p>
                <p>
                    <input type="submit" [value]="isAdd ? 'Add To-Do' : 'Save Changes'" [disabled]="todoForm.invalid" />
                </p>
            </form>
        </div>
    
    </div>
</div>