<div>
    <div class="form">
        <form >
            <label >Eid</label> &nbsp;
            <input type ="text" [(ngModel)]="emplo.eId" name="eId"placeholder="Enter Id"><br/>
             <label >Name</label>&nbsp;
            <input type ="text" [(ngModel)]="emplo.name" name="name"placeholder="Enter Name"><br/>
            <label >Salary</label>&nbsp;
            <input type ="text" [(ngModel)]="emplo.sal" name="sal" placeholder="Enter Salary"><br/>
            <label >Gender</label>&nbsp;
            <input type ="text" [(ngModel)]="emplo.gender" name="gender" placeholder="Enter Gender"><br/>
            <button (click)="addEmployee()">Add</button>
        </form>
        
    </div>
</div>