<app-navbar></app-navbar>
<app-categories></app-categories>
<!-- <app-body> -->
  <!-- </app-body> -->
  <!-- <app-databinding></app-databinding> -->
  <!-- <app-modal></app-modal> -->
  <!-- <app-employee-crud></app-employee-crud> -->
  <!-- <app-directives></app-directives> -->
   <!-- <app-employee-parent></app-employee-parent> -->

   <!-- <app-pipes></app-pipes> -->
   <!-- <app-star-rating></app-star-rating> -->
   <!-- <app-httpdemo></app-httpdemo> -->
   <!-- <app-employees></app-employees> -->
<!-- <app-carousel></app-carousel> -->
 <app-user-crud></app-user-crud>
 
<app-footer></app-footer>