<!-- <div class="card" style="width: 18rem;">
    <img src="https://as2.ftcdn.net/jpg/02/23/50/73/1000_F_223507324_jKl7xbsaEdUjGr42WzQeSazKRighVDU4.jpg">
    <div class="card-body">
        <a href="#" class="btn btn-success" style="font-weight: bold;">{{ user.name }}</a>
        <p><strong>ID:</strong> {{ user.id }}</p>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Phone:</strong> {{ user.phone }}</p>
        <p><strong>Website:</strong> {{ user.website }}</p>
        <h6 class="mt-3"><strong>Address:</strong></h6>
        <p><strong>Street:</strong> {{ user.address.street }}</p>
        <p><strong>Suite:</strong> {{ user.address.suite }}</p>
        <p><strong>City:</strong> {{ user.address.city }}</p>
        <p><strong>Zipcode:</strong> {{ user.address.zipcode }}</p>
        <h6 class="mt-3"><strong>Geo Location:</strong></h6>
        <p><strong>Latitude:</strong> {{ user.address.geo.lat }}</p>
        <p><strong>Longitude:</strong> {{ user.address.geo.lng }}</p>
        <h6 class="mt-3"><strong>Company:</strong></h6>
        <p><strong>Name:</strong> {{ user.company.name }}</p>
        <p><strong>Catchphrase:</strong> {{ user.company.catchPhrase }}</p>
        <p><strong>Business:</strong> {{ user.company.bs }}</p>
    </div>
</div>

 -->
