<div class="container mt-4">
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Search by title"
      [(ngModel)]="searchQuery"
      (input)="onSearch(searchQuery)"
      />
  </div>

  <div class="mb-3">
    <select class="form-select" [(ngModel)]="sortDirection" (change)="onSort(sortDirection)">
      <option value="">Sort By Price</option>
      <option value="asc">Price Ascending</option>
      <option value="desc">Price Descending</option>
    </select>
  </div>

 
  <div class="row">
    @for (product of displayedProducts  | paginate: { itemsPerPage: 4, currentPage: p}; track product) {
      <div class="col-12 col-md-3 mb-4">
        <div class="card">
          <img [src]="product.image" class="card-img-top" alt="{{ product.title }}" />
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">${{ product.price }}</p>
          </div>
        </div>
      </div>
    }
  </div>

<pagination-controls (pageChange)="p = $event"></pagination-controls>
     
</div>
