<h2 class="text-center">Products</h2>

<div class="container">
    <div class="row d-flex flex-wrap">
        <div class="col-sm-4 offset-4">
            <input type="search" name="" id=""></div>
        <div class="col-sm-4">
            <button class="btn btn-primary mx-2">Sort Asc</button>
            <button class="btn btn-primary">Sort Desc</button>

        </div>
        @for(products of productArry ;track $index){
        <div class="col-sm-3 d-flex">
            <div class="card text-center  h-100">
                <div class="card-body d-flex flex-column">

                    <p><strong>Image:</strong> <img src="{{ products.image }}" alt="{{ products.title }}" width="150px" height="200px"> </p>
                    <h5 class="card-title">{{products.title}}</h5>
                    <p><strong>ID:</strong> {{ products.id }}</p>
                    <p><strong>Title:</strong> {{ products.title }}</p>
                    <p><strong>Price:</strong> ${{ products.price }}</p>
                    <p class="flex-grow-1 text-truncate" style ="text-align: center;font-size: 12px;"><strong>Description:</strong> {{ products.description }}</p>
                    <p><strong>Category:</strong> {{ products.category }}</p>


                    <p><strong>Rating:</strong> {{ products.rating.rate }} ({{ products.rating.count }} reviews)</p>

                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        }
        
    </div>