<div>
  <table class="table-bordered table-striped">
    <thead>
      <tr>
        <th>EID</th>
        <th>NAME</th>
        <th>SALARY</th>
        <th>GENDER</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for(emp of employee;track $index){
      <tr style="text-align: center;">
        <td>{{ emp.eId }}</td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.sal }}</td>
        <td>{{ emp.gender }}</td>
        <td><button (click)="handleClick(emp.index)">Delete</button></td>
      </tr>
      }
    </tbody>
  </table>
</div>
